.calendar {
    /* max-width: 800px; */
    margin: 0 auto;
    border-radius: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.row {
    display: flex;
}

.col {
    flex: 1;
    text-align: center;
    
}

.col-start, .col-end {
    cursor: pointer;
}

.icon {
    font-size: 1rem;
}

.days {
    background-color: #f1f1f1;
    padding-block: 0.5rem;
}

.cell {
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    cursor: pointer;
}

.cell.disabled {
    color: #ccc;
}

.cell.selected {
    background-color: #22c55e;
    border-radius: 15px;
    color: white;
}

.number {
    font-size: 1rem;
}

.bg {
    display: none;
}

/* @media (max-width: 600px) {
    .col-center {
        display: none;
    }
} */

@media (max-width: 425px) {
    .cell {
        padding-inline: 0.5rem;
    }
}

.cell.not-selectable {
    pointer-events: none;
    color: #ccc;
}